@font-face {
    font-family: LekkerFontje;
    src: url(../fonts/Zapfino.ttf);
}
  
body {
    background-color: #111;
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;;
    
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #fff;
}

a {
    color: #999;
    text-decoration: none;
}
a:hover {
    color: #FFF;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}


#header {
    flex: 1;
}

#main {
    display: flex;
    flex: 4;
    align-items: center;
    justify-content: center;

}

#footer {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}


.video-background {
    display: flex;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    flex: 1;
    position: fixed;
    align-items: center;
    justify-content: center;
}

.video-background video {
    height: 100vh;
    opacity: 0.1;
}

.video-background iframe {
    height: 1800px;
    width: 5000px;
    opacity: 0.1;
}


#logo-wrapper {
    z-index: 1000;
}

#logo {
    width: 50vw;
    min-width: 320px;
    /* filter: drop-shadow(3px 5px 2px rgba(0 0 0 / 0.5)); */
    animation-delay: 0.6s;
    animation-name: fadeIn;
    animation-duration: 3s;
    animation-fill-mode: both;
}



.quote {
    margin: 0 2em;
    opacity: 0;
    font-family: LekkerFontje;
    font-size: 2.5em;
    text-shadow: -3px 4px 9px  #000;
    text-align: center;
    animation-name: fadeIn;
    animation-duration: 20s;
    animation-fill-mode: both;
}
@media screen and (max-width: 992px) {
    #header {
        display: none;
    }
    #main {
        flex: 5;
    }
    .quote {
        font-size: 1.5em;
    }
}
  



#social {
    display: flex;
    flex-direction: row;;
    margin-bottom: 1em;
}

.social-icon {
    position: relative;
    width: 1.4em;
    height: 1em;
    margin: 0 5px;
    padding: 10px;
    font-size: 2.2em;
    color: #AAA;
}

#social.animated > .social-icon {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 1.4s;
    animation-fill-mode: both;
}

.social-icon:nth-child(1) { animation-delay: 1.5s; }
.social-icon:nth-child(2) { animation-delay: 1.8s; }
.social-icon:nth-child(3) { animation-delay: 2.1s; }
.social-icon:nth-child(4) { animation-delay: 2.4s; }

.social-icon:hover {
    color: #AAA;
}

.icon-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-wrapper > .icon {
    position: relative;
    z-index: 10;
    transition: all 0.4s;
}

.icon-wrapper > .icon-shadow {
    z-index: 0;
    color: #000;
    filter: blur(6px);
    opacity: 0.8;
    transition: all 0.4s;
}

.social-icon:hover .icon {
    transform: translateY(-0.1em);
}
.social-icon:hover .icon-shadow {
    transform: scale(0.8);
    opacity: 0.7;
}
.social-icon > .label {
    display: flex;
    position: absolute;
    bottom: -0.6em;
    left: 0;
    right: 0;
    background-color: #00000033;
    border-radius: 4px;
    padding: 2px 4px;
    justify-content: center;
    align-items: center;
    font-size: 0.3em;
    text-align: center;
    color: #CCC;
    text-shadow: -2px 1px 5px  #000;
    opacity: 0;

    transform: translateY(-0.2em);
    transition: all 0.4s;
}
.social-icon:hover > .label {
    opacity: 1;
    transform: translateY(0);
}



.copyrights {
    font-size: 0.8em;
    opacity: 0.4;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.9) translateY(10px);
    }
    100% {
        opacity: .8;
        transform: scale(1) translateY(0);
    }
}


.vignette {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    box-shadow: 0 0 20vw rgba(0,0,0,0.9) inset;
  }

